{% extends "base.html" %}
{% block content %}
<h2>Students List</h2>
<table>
    <thead>
        <tr>
            <th>Roll No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        {% for s in students %}
        <tr>
            <td>{{ s.roll_no }}</td>
            <td>{{ s.full_name }}</td>
            <td>{{ s.email }}</td>
            <td>{{ s.department }}</td>
            <td>{{ s.year_of_study }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}